@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 28,28,28;     /* Black text color for light mode */
  --background-start-rgb: 254, 254, 254;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme:light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 28, 28, 28; 
    --background-end-rgb: 0, 0, 0;   
  }
} */

body {
  font-size: 1.2rem;
  font-weight: 360;
  margin: 0;
  padding: 0;
  font-family: var(--font-albert-sans);
  color: var(--foreground-rgb); /* Text color based on light/dark mode */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); /* Background color based on light/dark mode */
}

.body_width{
  width: 90%;
}

.project_grid {
  display: grid;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  row-gap: 8rem;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr; /* Creates a 4-column grid layout */
  grid-auto-rows: auto; /* Automatically adjusts the row size based on content */
  margin-top: 8rem; /* Sets top margin to 8 units */
  margin-bottom: 24px; /* Sets bottom margin to 24 units */
}

.hero_grid {
  display: grid;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  column-gap: 8rem;
  border-radius: 1rem;
  position: relative;
  margin-bottom: 4rem;
  height: 70vh;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr; /* Creates a 4-column grid layout */
}

.articles_grid {
  display: grid;
  column-gap: 1.2rem; /* Sets the gap between grid items to 16px/1rem */
  row-gap: 2rem;
  grid-template-columns: repeat(4, 1fr); /* Creates a 4-column grid layout */
  grid-auto-rows: auto; /* Automatically adjusts the row size based on content */
  width: 100%; /* Sets the width of the element to 100% of its container */
  margin-top: 2rem; /* Sets top margin to 8 units */
  margin-bottom: 24px; /* Sets bottom margin to 24 units */
}

.book_grid{
  display: flex;
  gap: 1rem;
  margin: 0;
  left: 0;
}

.avatar_grid{
  display: grid;
  column-gap: 4rem; /* Sets the gap between grid items to 16px/1rem */
  grid-template-columns: 1fr; /* Creates a 4-column grid layout */
  grid-auto-rows: auto; /* Automatically adjusts the row size based on content */
  width: 100%; /* Sets the width of the element to 100% of its container */
  margin-top: 2rem; /* Sets top margin to 8 units */
}


/*Defining headings*/
h1{
  font-size: 6rem;
  font-family: var(--font-alegreya);
  margin-bottom: 1rem;
  letter-spacing: -0.5px;
  font-weight: 400;
  line-height: 6rem;
}

h2{
  font-size: 1.6rem;
  font-family: var(--font-space-gothic);
  letter-spacing: -0.5px;
}

h3{
  font-size: 1.3rem;
  font-family: var(--font-space-gothic);
  font-weight: 430;
  margin-bottom: 0.2rem;
}

h4{
  font-size: 1.2rem;
  font-family: var(--font-space-gothic);
  font-weight: 450;
  line-height: 1.6rem;
}


h5{
  font-family: var(--font-alegreya);
  font-size: 1.2rem;
  color: #0069E5;
}

.ibm_italic{
  font-family: var(--font-ibm-mono);
  font-style: italic;
}

main{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* components/Navbar.module.css */

.web_nav{
  display: block;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  margin-top: 2.2rem;
  width: 90%;
  z-index: 10;
}
.mobile_nav{
  display: none;
}

.icon{
  object-fit: contain;
  width: auto;
  height: 48px;
}

.icon:hover{
  text-decoration: none !important;
}

.icon_gif{
  object-fit: contain;
  width: auto;
  height: 48px;
  top: 34px;
  position: absolute;
}

.icon_gif{
  text-decoration: none m !important;
}

.logo_container{
  margin-top: -8px;
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  color: #0e1320;
}

.menu_icon{
  align-items: center;
  font-size: 1rem;
  border-radius: 200px;
  padding: 4px 20px 4px 10px;
}

ul {
  list-style: none;
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: right; /* Right side align the items horizontally */
  font-size: 1rem;
}

.nav_links{
  gap: 2rem;
  font-size: 1.1rem;
  font-family: var(--font-space-gothic);
}

li .default{
  border-bottom: 1.5px solid transparent;
  font-weight: 400;
}

li .default:hover{
  border-bottom: 1.5px solid #d7d7db;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  /* border-bottom: 1px solid #414143; */
}

li .active{
  font-weight: 400;
}


li .mobile_ui{
  font-weight: 400; 
  font-family: var(--font-space-gothic);
  text-decoration: none;
  margin-left: -1.3rem;
  border-bottom: 1.5px solid transparent;
}

li .mobile_ui:hover{
  border-bottom: 1.5px solid #d7d7db;
}

.tab_active{
  position: relative;
  cursor: pointer;
  color: #0069E5;
}

.tab_default{
  position: relative;
  cursor: pointer;
}

.tab_default:hover{
  color: #0069E5;
}

.button{
  font-family: var(--font-space-gothic);
  font-size: 1rem;
  color: #0069E5;
  border: 1px solid #0069E5;
  padding: 0.6rem 1.2rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1.2rem;
  display: inline-flex;
  text-decoration: none;
  position: relative;
  gap: 16px;
}
.button:hover{
  text-decoration: none !important;
  background-color: #0069E5;
  color: #fefefe;
}
.arrow_icon {
  position: relative;
  right: 8px;
  padding-top: 1px;
  transition: right 0.3s ease;
}

.button:hover .arrow_icon {
  right: 0px;
}

.link_button{
  font-family: var(--font-alegreya);
  font-size: 1.2rem;
  color: #0069E5;
}
.link_button:hover{
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Designing everything in Grid */

.cell{
  position: relative;
  width: auto;
  height: auto;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  gap: 24px;
}

.cell:hover{
  text-decoration: none;
  color: #333;
}

.cell_two{
  display: flex;
  text-decoration: none;
  gap: 2rem;
}

.cell_two:hover{
  text-decoration: none;
  color: #333;
}

.project_image{
  object-fit: cover;
  width: 100%;
  height: 420px;
  border-radius: 4px;
}

.project_image_blur{
  object-fit: cover;
  width: 100%;
  height: 420px;
  border-radius: 4px;
  position: absolute;
}

.project_banner_1{
  width: 100%;
  height: auto;
  position: absolute;
}
.project_banner_2{
  width: 100%;
  height: auto;
  border-radius: 4px;
  left: 0;
  position: absolute;
}

.ashish_image{
  object-fit: contain;
  width: auto;
  height: 420px;
  border-radius: 4px;
  align-items: start;
}

.avatar_images{
  width: 80px;
  height: auto;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.article_image{
  object-fit: cover;
  width: 100%;
  height: 240px;
  border-radius: 4px;
}

.avatar_images:hover{
  transform: translateY(-4px);
}

.book_image{
  object-fit: contain;
  width: 144px;
  height: 188px;
  margin-left: -10px;
  bottom: 0;
  transition: transform 0.3s ease;
}
.book_image:hover{
  transform: translateY(-4px);
}


/* Footer */

ul.footer_links{
  display: grid;
  justify-content: left;
  gap: 16px;
}

footer{
  width: 90%;
  display: block;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.intro_content{
  display: grid;
  width: 90%;
  grid-template-columns: 0.8fr 1fr;
  gap: 12rem; /* Equivalent to gap-4, adjust as needed */
  align-items: end;
}

.intro_content_first{
  display: grid;
  width: 90%;
  grid-template-columns: 0.8fr 1.5fr;
  gap: 1rem; /* Equivalent to gap-4, adjust as needed */
  align-items: end;
}

.intro_content_sec{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 5rem; /* Equivalent to gap-4, adjust as needed */
  align-items: start;
}

.intro_content_three{
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem; /* Equivalent to gap-4, adjust as needed */
  align-items: start;
}

.recomendation_content{
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 2fr;
  gap: 5rem; /* Equivalent to gap-4, adjust as needed */
  align-items: start;
}

.mobile_nav_view{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  top: 4rem;
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
  padding: 20px;
}

.pencile_mark{
  fill:none;
  stroke:#2c4acd39;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width:40px;
}

.underline_css{
  height: auto;
  margin-top: 2px;
  top: 0;
  width: 140px;
}

/* ImageHover.css */
.hover-link {
  position: relative;
  display: inline-block;
  text-decoration: none !important;
  border-bottom: none !important;
  font-weight: 400;
}

.hover-image {
  position: absolute;
  top: -140px;
  left: -40px;
  opacity: 0;
  display: none;
  height: 120px;
  width: auto;
}

.hover-link:hover .hover-image{
  opacity: 1;
  display: block;
}

.cv_parah{
  width: 100%;
}

.quote{
  font-family: var(--font-alegreya);
  width: 80%;
}

.serif{
  font-family: var(--font-alegreya);
}

.score_grid{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.score_tab{
  margin-top: 2rem;
  display: block;
  position: relative;
  border: 1px solid #D6D6D6;
  padding: 24px;
  padding: 24px 24px;
}

.description_tab{
  margin-top: 0.3rem;
  display: flex;
  gap: 0.5rem;
  position: relative;
}

.description_tab::before{
  content: "";
  display: inline-block;
  width: 10px;  /* Adjust the size as needed */
  height: 10px; /* Adjust the size as needed */ 
  background-color: #0069E5; /* Change the color if you want */
  margin-right: 4px; /* Space between the square and the text */
  vertical-align: middle; /* Align the square vertically with the text */
  transform: translateY(8px);
}

.content_grid_two{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 1rem; /* Equivalent to gap-4, adjust as needed */
  align-items: start;
}

/* Tablet Portrait styles */
@media screen and (max-width: 1144px) {
  body{
    font-size: 1rem;
  }
  main{
    width: 90%;
  }
  h1{
    margin-top: 48px;
  }
  .mobile_nav{
    display: none;
  }

  .project_image{
    height: 320px;
    width: 100%;
  }

  .project_grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem; /* Sets the gap between grid items to 16px/1rem */
    row-gap: 6rem;
  }
  .cell{
    background-color: #fefefe;
    flex-direction: column;
  }
  .articles_grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .book_grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .avatar_grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .hero_grid{
    width: 100%;
    grid-template-columns: 1fr;
    margin-bottom: 12rem;
  }
  .dash{
    display: none;
  }
  .home_content{
    width: 100%;
  }
  .project_banner_1{
    width: 20%;
  }
}

/* Tablet styles */
@media screen and (max-width: 1024px) {
  body{
    font-size: 1.1rem;
  }
  main{
    width: 90%;
  }
  h1{
    margin-top: 48px;
  }
  .mobile_nav{
    display: none;
  }

  .project_image{
    height: 320px;
    width: 100%;
  }

  .project_grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem; /* Sets the gap between grid items to 16px/1rem */
    row-gap: 6rem;
  }
  .cell{
    background-color: #fefefe;
    flex-direction: column;
  }
  .articles_grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .book_grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .avatar_grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .project_banner_1{
    display: none;
  }
  .hero_grid{
    height: auto;
    grid-template-columns: 1fr;
    margin-bottom: 4rem;
  }
  .dash{
    display: none;
  }
  .home_content{
    width: 100%;
  }
  .project_banner_2{
    top: -70px;
    left: 200px;
  }
}

/* Mobile styles */
@media screen and (max-width: 720px) {
  body{
    font-size: 1rem;
  }
  main{
    width: 90%;
  }
  h1{
    margin-top: 48px;
  }
  .web_nav{
    display: none;
  }
  .mobile_nav{
    display: flex;
    position: fixed;
    z-index: 2;
    padding: 8px;
    justify-content: space-between;
    background-color: rgb(var(--background-start-rgb));
  }
  .icon{
    height: 32px;
  }
  ul.footer_links{
    display: grid;
    gap: 2rem;
    grid-template-columns: auto;
    margin-bottom: 2rem;
  }
  .project_grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .project_image{
    height: 320px;
    width: 100%;
  }
  .cell{
    background-color: #fefefe;
    flex-direction: column;
  }
  .articles_grid{
    grid-template-columns: repeat(1, 1fr);
  }
  .book_grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .avatar_grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .intro_content{
    width: 100%;
    grid-template-columns: 1fr;
  }
  .project_banner_1{
    display: none;
  }
  .hero_grid{
    padding: 2rem 2rem;
    height: auto;
    margin-top: 4rem;
    grid-template-columns: 1fr;
    margin-bottom: 4rem;
  }
  .home_content{
    width: 100%;
  }
  .recomendation_content{
    width: 100%;
  }
  .dash{
    display: none;
  }
  .project_banner_2{
    top: 170px;
    right: 20px;
  }
}
